<footer class="footer">
  <div class="container">
    <p>
      ch.ru — независимый информационный портал. Работает с 13 января 2019 года.
    </p>
    <a href="#" class="private-policy__footer" target="_blank">Политика конфиденциальности</a>
  </div>
</footer>

</div>
  <script src="/javascripts/bundle.js"></script>
</body>

</html>