  {{> head }}

  {{> drawer }}

  <div class="page">
    {{> header }}
    <div class="page-body">
      <main class="content" role="main">

        {{{body}}}
		
      </main>
    </div>
    {{> footer }}
  